<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- <bean id="bluedart" class="com.nt.bean.BlueDart"></bean>
<bean id="dtdc" class="com.nt.bean.DTDC"></bean>
<bean id="fflight" class="com.nt.bean.FirstFlight"></bean>
<bean id="amz" class="com.nt.bean.Amazon">
<constructor-arg ref="fflight"></constructor-arg>
</bean> -->

<context:component-scan base-package="com.nt.bean"/>
</beans>
