<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id = "ckt" class="com.mac.beans.Cricketer">
	<constructor-arg>
		<bean class="com.mac.beans.Bat">
			<property name="brand" value="TVS"/>
			<property name="name" value="Asmit"/>
		</bean>
	</constructor-arg>
</bean>

</beans>
