<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id="bk" class="com.mac.beans.Book">
	<property name="bookid" value="1001"/>
	<property name="bname" value="Spring Complete Reference"/>
	<property name="author" value="Rod Jonhson"/>
</bean>
<bean id="st" class="com.mac.beans.Student">
	<property name="sid" value="101"/>
	<property name="sname" value="Asmit Lade"/>
	<property name="doj" value="04/26/1993"/>
	<!-- <property name="book" ref="bk"/> -->
	<property name="book" ref="bk"/>
</bean>

<context:annotation-config/>

</beans>
